{{#resume.meta.gdpr}}
<div class="container">
  <div class="gdpr-consent">
    I hereby give consent for my personal data to be processed by {{company}} for the purpose of conducting recruitment for the position for which I am applying.
    {{#if extended}}
    I also consent to processing of my personal data by {{company}} for the purposes of any future recruitment processes.
    {{/if}}
    </div>
</div>
{{/resume.meta.gdpr}}
